<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dliyun.platform.core.mappers.SystemOauthUserInfoMapper">
    <resultMap id="LoginAccountResultMap" type="com.dliyun.platform.core.model.SystemOauthUserLoginAccount">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="uid" property="uid" jdbcType="BIGINT"/>
        <result column="login_account" property="loginAccount" jdbcType="VARCHAR"/>
        <result column="account_type" property="accountType" typeHandler="com.dliyun.platform.core.typehandler.SystemOauthLoginAccountTypeTypeHandler"/>
    </resultMap>

    <resultMap id="BaseUserInfoResultMap" type="com.dliyun.platform.core.model.SystemOauthUserBaseInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" typeHandler="com.dliyun.platform.core.typehandler.SystemOauthUserGenderTypeHandler"/>
        <result column="state" property="state" typeHandler="com.dliyun.platform.core.typehandler.SystemOauthUserStateTypeHandler"/>
        <result column="register_time" property="registerTime" jdbcType="TIMESTAMP"/>
        <result column="register_ip" property="registerIp" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="UserPasswordResultMap" type="com.dliyun.platform.core.model.SystemOauthUserPassword">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="uid" property="uid" jdbcType="BIGINT"/>
        <result column="passwd" property="passwd" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="type" property="type" typeHandler="com.dliyun.platform.core.typehandler.SystemOauthUserPasswordTypeHandler"/>
    </resultMap>

    <resultMap id="UserLoginLogResultMap" type="com.dliyun.platform.core.model.SystemOauthUserLoginLog">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="uid" property="uid" jdbcType="BIGINT"/>
        <result column="login_ip" property="loginIp" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="country_id" property="countryId" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="area_id" property="areaId" jdbcType="VARCHAR"/>
        <result column="region" property="region" jdbcType="VARCHAR"/>
        <result column="region_id" property="regionId" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="city_id" property="cityId" jdbcType="VARCHAR"/>
        <result column="county" property="county" jdbcType="VARCHAR"/>
        <result column="county_id" property="countyId" jdbcType="VARCHAR"/>
        <result column="login_time" property="loginTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="UserLoginLog_Column_List">
        id, uid, login_ip, country, country_id, area, area_id, region, region_id, city, city_id, county, county_id, login_time
    </sql>
    <sql id="UserBaseInfo_Column_List">
        `id`, `nick_name`, `avatar`, `gender`, `state`, `register_time`, `register_ip`
    </sql>
    <sql id="UserPassword_Column_List">
        id, uid, passwd, salt, `type`
    </sql>
    <sql id="LoginAccount_Column_List">
        id, uid, login_account, account_type
    </sql>

    <update id="updateBaseInfo" parameterType="com.dliyun.platform.core.model.SystemOauthUserBaseInfo">
        update system_oauth_user_base_info
        <set>
            <if test="nickName != null and nickName != ''">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,typeHandler=com.dliyun.platform.core.typehandler.SystemOauthUserGenderTypeHandler},
            </if>
            <if test="state != null">
                state = #{state,typeHandler=com.dliyun.platform.core.typehandler.SystemOauthUserStateTypeHandler},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="insertOrUpdateUserPassword">
        REPLACE INTO dliyun_platform.system_oauth_user_password
        (id, uid, passwd, salt, `type`)
        VALUES(#{id,jdbcType=VARCHAR}, #{uid,jdbcType=BIGINT}, #{passwd,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{type,typeHandler=com.dliyun.platform.core.typehandler.SystemOauthUserPasswordTypeHandler});
    </update>


    <select id="findPage" resultMap="BaseUserInfoResultMap">
        select
        <include refid="UserBaseInfo_Column_List"/>
        from system_oauth_user_base_info
        <where>
            <if test="loginAccount != null and loginAccount != ''">
                and id in (select uid from system_oauth_user_login_account where login_account=#{loginAccount,jdbcType=VARCHAR})
            </if>
            <if test="state != null">
                and state = #{state,typeHandler=com.dliyun.platform.core.typehandler.SystemOauthUserStateTypeHandler}
            </if>
        </where>
        order by id desc
    </select>
    <select id="findLoginAccount" resultMap="LoginAccountResultMap" parameterType="java.lang.Object">
        select
        <include refid="LoginAccount_Column_List"/>
        from system_oauth_user_login_account t where
        t.login_account=#{loginAccount,jdbcType=VARCHAR} and
        account_type=#{accountType,typeHandler=com.dliyun.platform.core.typehandler.SystemOauthLoginAccountTypeTypeHandler}
    </select>

    <select id="findUserBaseInfoById" resultMap="BaseUserInfoResultMap" parameterType="java.lang.Long">
        select
        <include refid="UserBaseInfo_Column_List"/>
        from system_oauth_user_base_info t where
        t.id=#{id,jdbcType=BIGINT}
    </select>

    <select id="findUserPasswd" resultMap="UserPasswordResultMap">
        select
        <include refid="UserPassword_Column_List"/>
        from system_oauth_user_password
        where uid = #{uid,jdbcType=BIGINT} and
        type=#{type,typeHandler=com.dliyun.platform.core.typehandler.SystemOauthUserPasswordTypeHandler}
        limit 1
    </select>
    <select id="findLastLogin" resultMap="UserLoginLogResultMap">
        select
        <include refid="UserLoginLog_Column_List"/>
        from system_oauth_user_login_log
        where uid = #{uid,jdbcType=BIGINT}
        order by id desc
        limit 1
    </select>
    <select id="findAuthorities" resultType="java.lang.String">
      	  select authority from system_oauth_role_authorities WHERE role_id IN (
      		select role_id from system_oauth_user_role WHERE uid = #{uid,jdbcType=BIGINT}
      		)
    </select>
    <select id="findRolesIdByUserId" resultType="java.lang.Long">
        SELECT role_id FROM system_oauth_user_role WHERE uid = #{uid,jdbcType=BIGINT}
    </select>
    <select id="findLoginAccountsByUid" resultMap="LoginAccountResultMap">
        select
        <include refid="LoginAccount_Column_List"/>
        from system_oauth_user_login_account where
        uid=#{uid,jdbcType=BIGINT}
    </select>

    <insert id="insertLoginLog" parameterType="com.dliyun.platform.core.model.SystemOauthUserLoginLog">
        insert into system_oauth_user_login_log (uid, login_ip, country, country_id,area, area_id, region,
        region_id, city, city_id, county, county_id, login_time)
        values (#{uid,jdbcType=BIGINT}, #{loginIp,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR},
        #{countryId,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR},
        #{region,jdbcType=VARCHAR}, #{regionId,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
        #{cityId,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, #{countyId,jdbcType=VARCHAR},
        #{loginTime,jdbcType=TIMESTAMP})
    </insert>

    <delete id="deleteRoles" parameterType="java.lang.Long">
        delete FROM system_oauth_user_role WHERE uid = #{uid,jdbcType=BIGINT}
    </delete>
    <insert id="insertRoles" parameterType="java.lang.Object">
        insert into system_oauth_user_role (uid, role_id)
        values
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{uid,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
        </foreach>
    </insert>
</mapper>