<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dliyun.fort.gateway.core.mappers.HostInfoMapper">
    <resultMap id="BaseResultMap" type="com.dliyun.fort.gateway.core.model.HostInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="group_id" property="groupId" jdbcType="BIGINT"/>
        <result column="auth_id" property="authId" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="host_address" property="hostAddress" jdbcType="VARCHAR"/>
        <result column="port_number" property="portNumber" jdbcType="INTEGER"/>
        <result column="os" property="os" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `group_id`, `auth_id`, `name`, `host_address`,  `port_number`, `os`, `remark`, `created_time`
    </sql>

    <select id="findPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `fort_gateway_host_info`
        <where>
            <if test="groupId!=null">
                AND `group_id` = #{groupId,jdbcType=BIGINT}
            </if>
            <if test="authId!=null">
                AND `auth_id` = #{authId,jdbcType=BIGINT}
            </if>
            <if test="name!=null and name !=''">
                AND `name` like CONCAT('%',#{name,jdbcType=VARCHAR },'%')
            </if>
            <if test="uid!=null">
                AND `group_id` in (select `group_id` from `fort_gateway_host_group_users` WHERE `uid` = #{uid,jdbcType=BIGINT})
            </if>
        </where>
        order by id desc
    </select>

    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `fort_gateway_host_info`
        WHERE `id` = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.dliyun.fort.gateway.core.model.HostInfo">
        INSERT INTO `fort_gateway_host_info`
        (`id`, `group_id`, `auth_id`, `name`, `host_address`, `port_number`, `os`, `remark`, `created_time`)
        VALUES
        (#{id,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{authId,jdbcType=BIGINT},
        #{name,jdbcType=VARCHAR }, #{hostAddress,jdbcType=VARCHAR },  #{portNumber,jdbcType=INTEGER },
        #{os,jdbcType=VARCHAR }, #{remark,jdbcType=VARCHAR }, #{createdTime,jdbcType=TIMESTAMP });
    </insert>

    <update id="update" parameterType="com.dliyun.fort.gateway.core.model.HostInfo">
        UPDATE `fort_gateway_host_info`
        <set>
            <if test="groupId!=null">
                `group_id` = #{groupId,jdbcType=BIGINT},
            </if>
            <if test="authId!=null">
                `auth_id` = #{authId,jdbcType=BIGINT},
            </if>
            <if test="name!=null and name !=''">
                `name` = #{name,jdbcType=VARCHAR },
            </if>
            <if test="hostAddress!=null and hostAddress!=''">
                `host_address` = #{hostAddress,jdbcType=VARCHAR },
            </if>
            <if test="portNumber!=null">
                `port_number` = #{portNumber,jdbcType=INTEGER },
            </if>
            <if test="os!=null and os !='' ">
                `os` = #{os,jdbcType=VARCHAR },
            </if>
            <if test="remark!=null and remark !=''">
                `remark` = #{remark,jdbcType=VARCHAR },
            </if>
        </set>
        WHERE `id` = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
        DELETE FROM `fort_gateway_host_info` WHERE `id` = #{id,jdbcType=BIGINT}
    </delete>

</mapper>