<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dliyun.fort.gateway.core.mappers.HostGroupMapper">
    <resultMap id="BaseResultMap" type="com.dliyun.fort.gateway.core.model.HostGroup">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `name`, `remark`, `created_time`
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `host_group` order by id desc
    </select>
    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `host_group`
        WHERE `id` = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.dliyun.fort.gateway.core.model.HostInfo">
        INSERT INTO `host_group`
        (`name`,`remark`, `created_time`)
        VALUES
        (
        #{name,jdbcType=VARCHAR },
        #{remark,jdbcType=VARCHAR },
        #{createdTime,jdbcType=TIMESTAMP })

    </insert>

    <update id="update" parameterType="com.dliyun.fort.gateway.core.model.HostInfo">
        UPDATE `host_group`
        <set>
            <if test="name!=null and name !=''">
                `name` = #{name,jdbcType=VARCHAR },
            </if>
            <if test="remark!=null and remark !=''">
                `remark` = #{remark,jdbcType=VARCHAR },
            </if>
        </set>
        WHERE `id` = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
        DELETE FROM `host_group` WHERE `id` = #{id,jdbcType=BIGINT}
    </delete>
</mapper>