<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dliyun.fort.gateway.core.mappers.HostAuthMapper">
    <resultMap id="BaseResultMap" type="com.dliyun.fort.gateway.core.model.HostAuth">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="auth_type" property="authType" typeHandler="com.dliyun.fort.gateway.core.typehandler.AuthTypeHandler"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="auth_text" property="authText" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `name`, `auth_type`, `user_name`, `auth_text`, `remark`, `created_time`
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `fort_gateway_host_auth`
    </select>
    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `fort_gateway_host_auth`
        WHERE `id` = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.dliyun.fort.gateway.core.model.HostInfo">
        INSERT INTO `fort_gateway_host_auth`
        (`name`, `auth_type`, `user_name`, `auth_text`, `remark`, `created_time`)
        VALUES
        (
        #{name,jdbcType=VARCHAR },
        #{authType,typeHandler=com.dliyun.fort.gateway.core.typehandler.AuthTypeHandler },
        #{userName,jdbcType=VARCHAR },
        #{authText,jdbcType=VARCHAR },
        #{remark,jdbcType=VARCHAR },
        #{createdTime,jdbcType=TIMESTAMP })

    </insert>

    <update id="update" parameterType="com.dliyun.fort.gateway.core.model.HostInfo">
        UPDATE `fort_gateway_host_auth`
        <set>
            <if test="name!=null and name !=''">
                `name` = #{name,jdbcType=VARCHAR },
            </if>
            <if test="authType!=null">
                `auth_type` = #{authType,typeHandler=com.dliyun.fort.gateway.core.typehandler.AuthTypeHandler },
            </if>
            <if test="userName!=null and userName!=''">
                `user_name` = #{userName,jdbcType=VARCHAR },
            </if>
            <if test="authText!=null and authText!=''">
                `auth_text` = #{authText,jdbcType=VARCHAR },
            </if>
            <if test="remark!=null and remark!=''">
                `remark` = #{remark,jdbcType=VARCHAR },
            </if>
        </set>
        WHERE `id` = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
        DELETE FROM `fort_gateway_host_auth` WHERE `id` = #{id,jdbcType=BIGINT}
    </delete>
</mapper>